@tailwind components;

@layer components {
  .title {
    @apply h-[30rem] bg-primary px-[18rem] flex items-center;
  }

  .details {
    @apply px-[18rem] w-full py-12;
  }

  table {
    @apply text-left w-[65vw];
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      @apply py-4 text-[1.5rem];
    }

    tr:nth-child(1) {
      th,
      td {
        @apply pb-2;
      }
    }

    th {
      @apply font-sec font-semibold tracking-tight;
    }

    tr > th:nth-child(2) {
      @apply w-[17vw];
    }
  }

  .checkbox {
    @apply w-6 h-6 border-2 border-primary rounded-lg mr-4 accent-primary;
  }

  .final-confirm {
    @apply flex gap-4 mt-8 items-center font-prime font-semibold text-[2rem] text-high_1 my-6 tracking-wide px-10 py-4 rounded-full disabled:opacity-50 transition-all;
  }

  .edit {
    @apply font-prime flex items-center gap-3 text-[2rem] mb-6 text-primary;
  }
}
